.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#switch-label {
    color: #898888;
    right: 4px;
    font-size: 12px;
}

.on-off-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #555;
}

.on-off-text.on {
    right: 13px;
    color: #fff;
}

.on-off-text.off {
    left: 13px;
    color: #fff;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.title1 {
    margin-left: 30px;
    margin-top: 20px;
    font-family: Chalkduster, fantasy;
    font-size: 60px;
    color: #a56fc9;
}

.title2 {
    margin-left: 30px;
    margin-top: 20px;
    font-family: Chalkduster, fantasy;
    font-size: 40px;
    color: #a56fc9;
}

.texts {
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
}


.text1 {
    font-family: "Courier New", sans-serif;
    font-size: 40px;
    color: #370456;
    width: 65%;
    margin: auto;
}

.text2 {
    font-family: "Courier New", sans-serif;
    font-size: 20px;
    color: #370456;
    width: 65%;
    align-self: center;
    margin: auto;
}


.text3 {
    font-family: "Courier New", sans-serif;
    font-size: 40px;
    color: #370456;
    margin: auto;
}

.text4 {
    font-family: "Courier New", sans-serif;
    font-size: 18px;
    color: rgb(204, 144, 231);
    align-self: center;
    margin: auto;
    padding: 10px;
    text-align: left;
}

.text5 {
    font-family: "Courier New", sans-serif;
    font-size: 18px;
    color: #370456;
    width: fit-content;
}



.card {
    height: 80px;
    width: 260px;
    font-family: Chalkduster, fantasy;
    align-items: center;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#cards {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: fit-content;
}

#bg {
    margin-top: -100px;
}

#display-container1 {
    align-items: center;
    width: fit-content;
    margin: auto;
}

#display-container2 {
    align-items: center;
    width: fit-content;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(24px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));
    gap: 1px;
}

.grid-bg {
    width: 100%;
    height: 100%;
}


#myFooter {
    margin-left: 30px;
    /* display: flex; */
}


.img-container:hover p {
    color: #370456;
}

.img-container {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 30px;
}